/*1. Definição das variaiveis de cor*/
:root {
    --cor-fundo: #f0f2f5;
    --cor-branco: #ffffff;
    --cor-texto-primario: #1c1e21;
    --cor-texto-secundario: #626770;
    --cor-borda: #dcdfe3;
    --cor-acento: #007bff;
}
/* 2. Reset CSS e Estilos Globais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--cor-fundo);
    
    /*Centralizando o compomente na pagina para visualização.*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* 3. Estilos do Componente Princeipal: .card */

.card{
    background-color: var(--cor-branco);
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 320px;
    /*Aqui que começa a mágica da transformação */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
/*Esconder qualquer conteúdo filho que possivelmente saia dos limites do card*/
    overflow: hidden;
    text-align: center;
}

/* 4. Efeito de Hover no Card */
.card:hover {
    transform: translateY(-10px); /*Movimenta o card para cima em 10px*/
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
}

/* 5. Estilos da Imagem do Card */
.card_image-container{
    width: 100%;
    height: 200px;
    /*Altura fixa para o container da imagem*/
}
.card_image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cobre todo o container mantendo a propporção/ Garante que a imagem cubra o espaço sem distorcer*/
}
/* 6. Estilos do Título do Card, Informações(Nome, Título e Social) */
.card_info {
    padding: 24px;
}
.card_name {
    font-size: 1.5rem; /*24px */
    color: var(--cor-texto-primario);
    margin-bottom: 8px;
}

.card_tittle {
    font-size: 1.0rem; /* 16px */
    color: var(--cor-texto-secundario);
    margin-bottom: 16px;
}
/* 7. Estilos dos Ícones das Redes Sociais, Utilizando Flexbox */
.card_social {
    display: flex; /*Ativa o flexbox*/
    justify-content: center; /*Centraliza os itens no eixo principal (Horizontal) */
    gap: 16px; /*Espaçamento entre os ícones sociais*/  
}
.card_social a {
    display: flex; /*Ativa o flexbox*/
    align-items: center;
    justify-content: center; /*Centraliza os itens no eixo principal (Horizontal) */
    width: 40px; /*Largura fixa para os ícones*/
    height: 40px; /*Altura fixa para os ícones*/
    color: var(--cor-acento); /*Cor dos ícones*/ 
    border: 2px solid var(--cor-acento); /*Borda do ícone social*/
    border-radius: 50%; /*Borda arredondada para os ícones sociais*/
    font-size: 1.5rem;/*24px*/
    text-decoration: none; /*Remove o sublinhado dos links*/
    font-weight: bold; /*Deixa o texto mais forte*/
    transition: background-color 0.3s ease, color 0.3s ease; /*Transição suave para a cor ao passar o mouse*/   
}
.card_social a:hover{
    background-color: var(--cor-acento);
    color: var(--cor-branco);
    border-color: var(--cor-acento);
}
/* 9. Design Responsivo (Primeira Media Query)*/
@media (max-width: 400px){
    .card{
        width: 90%; /*O card ocupara 90% da largura da tela*/
    }
}